
  <div class="header" style="margin-left:0px">
    <h2>Users</h2>
  </div>   

  <table class="table table-hover" style="overflow-y: scroll">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Address</th>
        <th>Email</th>
        <th>Action</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody height="100px">
    {{#each users}}
      <tr id="{{idNguoiDung}}" class="userInfo">
        <td>{{idNguoiDung}}</td>
        <td>{{hoTen}}</td>
        <td>{{diaChi}}</td>
        <td>{{email}}</td>
        <td><button onclick="deleteUser({{idNguoiDung}})">ban</button>
        </td>
        <td><button><a href="/admin/user/{{idNguoiDung}}/edit">edit</a></button></td>
      </tr>
    {{/each}}
 
    </tbody>
  </table>

  <div class="header" style="margin-left:0px">
  <h2>Banned</h2>
  </div>
         
  <table class="table table-hover" style="overflow-y: scroll">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Address</th>
        <th>Email</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody height="100px">
    {{#each block}}
      <tr id="{{idNguoiDung}}" class="userBan">
        <td>{{idNguoiDung}}</td>
        <td>{{hoTen}}</td>
        <td>{{diaChi}}</td>
        <td>{{email}}</td>
        <td><button onclick=resetUser({{idNguoiDung}})>reset</button></td>
      </tr>
    {{/each}}
 
    </tbody>
  </table>

