<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{{title}}</title>
    <!-- Bootstrap Core CSS -->
    <link href="/assests/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="/assests/vendor/metisMenu/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/assests/dist/css/sb-admin-2.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <!--<link href="/assests/vendor/morrisjs/morris.css" rel="stylesheet">-->

    <!-- Custom Fonts -->
    <link href="/assests/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat+Alternates|Varela+Round" rel="stylesheet">

    <!-- Product CSS -->
    <link href="/assests/dist/css/Product.css" rel="stylesheet" type="text/css">
    <script src="/assests/dist/js/Chart.js"></script>
<script src="/assests/dist/js/Chart.min.js"></script>
    <script type="text/javascript" src="/assests/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Sacramento" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Snippet" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Electrolize" rel="stylesheet">
    <link rel="stylesheet" href="/assests/bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assests/bootstrap-3.3.7-dist/css/material-design-iconic-font.css">
    <!--<link rel="stylesheet" href="css/bootstrap.theme.rin.css">-->
    <link rel="stylesheet" href="/assests/bootstrap-3.3.7-dist/css/style.css">
  
    <link rel="icon" href="/imgs/favicon.ico">
    <script type="text/javascript" src="/assests/bootstrap-3.3.7-dist/js/main.js"></script>
    <script type="text/javascript" src="/assests/bootstrap-3.3.7-dist/js/admin.js"></script>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body >
    {{>adminHeader}}


    <div class="row">
        <div class="col-md-3 pull-left">
               {{>adminMenu}}
        </div>
        <div class="col-md-9">
                {{{body}}}
        </div>
    </div>

    



<!-- jQuery -->
<script src="/assests/vendor/jquery/jquery.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="/assests/vendor/bootstrap/js/bootstrap.min.js"></script>

<!-- Metis Menu Plugin JavaScript -->
<script src="/assests/vendor/metisMenu/metisMenu.min.js"></script>

<!-- Morris Charts JavaScript -->
<!--<script src="/assests/vendor/raphael/raphael.min.js"></script>-->
<!--<script src="/assests/vendor/morrisjs/morris.min.js"></script>-->
<!--<script src="/assests/data/morris-data.js"></script>-->

<!-- Custom Theme JavaScript -->
<script src="/assests/dist/js/sb-admin-2.js"></script>

<!-- Product JS -->
<script src="/assests/dist/js/Chart.js"></script>
<script src="/assests/dist/js/Chart.min.js"></script>
<script type="text/javascript" src="/assests/js/product.js"></script>
<script>
function deleteProduct(id) {
    var productData = {
        id: id
    };

    $.ajax({
        type: "POST",
        url: "/admin/product/delete",
        data: productData,
        success: function (data) {
            if(data=="success"){
                alert("Deleted");
                $('#'+id+'.productInfo').remove();
            }else {
                alert("Error!Try again!");
            }
        }
    });
}
function resetUser(id, name, addr, email) {
    var userData = {
        id: id,
        name: name,
        addr: addr,
        email: email
    };
    $.ajax({
        type: "POST",
        url: "/admin/user/reset",
        data: userData,
         success: function (data) {
            if(data=="success"){
                $('#Ban_'+id).remove()
                $('#USER').append('<tr id="Ban_'+id +'" class="userBan">'
                +'<td>'+id+'</td>'
                +'<td>'+name+'</td>'
                +'<td>'+addr+'</td>'
                +'<td>'+email+'</td>'
                + '<td>'
                + `<a type="button" class="btn btn-default " onclick="deleteUser('`+id+`','`+name+`','`+addr+`','`+email+`')" title="Ban">`
                +'<span class="fa fa-ban" ></span>'
                +'</a>'
                +'</td>'
                +'<td>'
                + '<a type="button" class="btn btn-default " href="/admin/user/'+id+'/edit" title="Edit">'
                +'<span class="fa fa-edit" ></span>'
                + '</a>'
                +'</td>'
                +'</tr>')
                        //window.location.href = '/admin/users'; 
                   

                    }else {
                        alert("Error!Try again!");
                    }
                }
    });
}
function deleteUser(id, name, addr, email) {
    var userData = {
        id: id,
        name: name,
        addr: addr,
        email: email
    };

    $.ajax({
        type: "POST",
        url: "/admin/user/delete",
        data: userData,
        success: function (data) {
            if(data=="success"){
                $('#'+id).remove()
                $('#BAN').append('<tr id="Ban_'+id +'" class="userBan">'
                +'<td>'+id+'</td>'
                +'<td>'+name+'</td>'
                +'<td>'+addr+'</td>'
                +'<td>'+email+'</td>'
                +'<td>'
                + `<a type="button" class="btn btn-default " onclick="resetUser('`+id+`','`+name+`','`+addr+`','`+email+`')" title="Reset">`
                +'<span class="fa fa-refresh" ></span>'
                +'</a>'
                +'</td>'
                +'</tr>')
                        //window.location.href = '/admin/users'; 
                   

                    }else {
                        alert("Error!Try again!");
                    }
                }
    });
}
    

  
$('#formNewCategory').submit(function () {
    var name = $(this).find('input').val();
    $.ajax( {
        type: "POST",
        url: "/admin/category/add",
        data: {name: name},
        success: function (data) {
            if(data=="success"){
                 $('#cat').append('<tr id="'+id+'" >'
                        +'<td>'+id+'</td>'
                        +'<td>'+newName+'</td>'
                        + ' <td>'
                        + '<button style="display: inline;" id="{{idLoaiSanPham}}" class="btn btn-danger"'
                         +'onclick="deleteCategory({{idLoaiSanPham}})">Delete'
                        +'</button>'
                        +'<button style="display: inline;" id="{{idLoaiSanPham}}" class="btn btn-info"'
                         +' onclick="updateCategory({{idLoaiSanPham}})">Update'
                  +'</button>'
              +'</td>')
            }else {
                alert("Error! Try again!");
            }
        }
    } );
})

function updateCategory(id) {
    var newName = $('#'+id).find('.newCatNameBox input').val();

    var categoryData = {
        id: id,
        name: newName
    };
    $.ajax({
        type: "POST",
        url: "/admin/category/update",
        data: categoryData,
        success: function (data) {
            if(data=="success"){
            }else {
                alert("Error!Try again!");
            }
        }
    });

    $('.currentCatNameBox').css('display', 'block');
    $('.newCatNameBox').css('display', 'none');
    window.location.href = '/admin/categories'; 
}
$('.currentCatNameBox').click(function () {
    $(this).css('display', 'none');
    var trId = $(this).parent().closest('tr').attr('id').split(' ');
    $('#'+trId).find('.newCatNameBox').css('display', 'block');
})
function deleteCategory(id) {
    var categoryData = {
        idLoaiSanPham: id
    };

    $.ajax({
        type: "POST",
        url: "/admin/category/delete",
        data: categoryData,
        success: function (data) {
            if(data=="success"){
                alert("Deleted");
                $('#'+id+'.categoryInfo').remove();
            }else {
                alert("Error! Try again!");
            }
        }
    });
}

function toDelivered(soHoaDon,NgayLap,tenKhachHang,tongTien,tinhTrang) {
    var userData = {
        soHoaDon: soHoaDon,
        NgayLap: NgayLap,
        tenKhachHang: tenKhachHang,
        tongTien: tongTien,
        tinhTrang: tinhTrang
    };

    $.ajax({
        type: "POST",
        url: "/admin/ordersManagement/toDelivered",
        data: userData,
        success: function (data) {
            if(data=="success"){
                $('#'+soHoaDon).remove()
                $('#tblDelivered').append('<tr id="'+soHoaDon+'" >'
                        +'<td>'+soHoaDon+'</td>'
                        +'<td>'+NgayLap+'</td>'
                        +'<td>'+tenKhachHang+'</td>'
                        +'<td>'+tongTien+'</td>'
                        +'<td>Delivered</td>'
                        +'<td><a href="/admin/ordersManagement/details/'+soHoaDon+'" class="btn btn-success btn-block">Details</a></td>'
                        +'</tr>')
                //window.location.href = '/admin/users';


            }else {
                alert("Error!Try again!");
            }
        }
    });
}

function toCancelled(soHoaDon,NgayLap,tenKhachHang,tongTien,tinhTrang) {
    var userData = {
        soHoaDon: soHoaDon,
        NgayLap: NgayLap,
        tenKhachHang: tenKhachHang,
        tongTien: tongTien,
        tinhTrang: tinhTrang
    };

    $.ajax({
        type: "POST",
        url: "/admin/ordersManagement/toCancelled",
        data: userData,
        success: function (data) {
            if(data=="success"){
                $('#'+soHoaDon).remove()
                $('#tblCancelled').append('<tr id="'+soHoaDon+'" >'
                        +'<td>'+soHoaDon+'</td>'
                        +'<td>'+NgayLap+'</td>'
                        +'<td>'+tenKhachHang+'</td>'
                        +'<td>'+tongTien+'</td>'
                        +'<td>Cancelled</td>'
                        +'<td><a href="/admin/ordersManagement/details/'+soHoaDon+'" class="btn btn-success btn-block">Details</a></td>'
                        +'</tr>')
                //window.location.href = '/admin/users';

            }else {
                alert("Error!Try again!");
            }
        }
    });
}
function salesStatis() {
    var date1 = $('#date1').val();
    window.location.href = '/admin/salesStatistics/day/'+date1+'';
}



</script>

</body>

</html>
