<div class="container" style="width: 80%">

    <table id="cart" class="table">
        <thead >
            <tr >
                <th style="width:10%;text-align:center" >Img</th>
                <th style="width:35%;text-align:center">Product</th>
                <th style="width:10%;text-align:center">Price</th>
                <th style="width:15%;text-align:center">Number</th>
                <th style="width:10%;text-align:center" class="text-center">Cost</th>
                <th style="width:20%;text-align:center">Action</th>
            </tr>
        </thead>
        <tbody>
            {{#each cart}}
            <tr id="cart_{{idSanPham}}">
                <td data-th="Img" >
                    <img src="/imgs/sp/{{idSanPham}}/1.jpg" alt="" class="img-responsive" style="width:60px">
                </td>
                <td data-th="Product" style=" vertical-align: middle; ">
                    <h5>{{tenSanPham}}</h5>
                </td>
                <td data-th="Price" style=" vertical-align: middle;text-align:right " ><input id="price_{{idSanPham}}" value="{{giaHienTai}}" style="border:none;width:50px;text-align:right" readonly></td>
                <td data-th="Quantity" style=" vertical-align: middle; ">
                   
                        <div class="input-group">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default btn-number" data-type="minus" onclick="dec1unit({{idSanPham}})">
                                    <span class="glyphicon glyphicon-minus"></span>
                                </button>
                            </span>

                            <input type="text" id="val_{{idSanPham}}" class="form-control input-number" value="{{soLuong}}" min="1" max="10" style="width:50px" readonly>


                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default btn-number" data-type="plus" onclick="inc1unit({{idSanPham}})">
                                <span class="glyphicon glyphicon-plus"></span>
                                </button>
                            </span>
                        </div>
                
                </td>
                <td data-th="Subtotal" class="text-center" style=" vertical-align: middle; text-align:right " ><input id="total_{{idSanPham}}" value="{{tong}}" style="border:none;width:70px;text-align:right" readonly></td>

                <td class="actions" data-th="" style=" vertical-align: middle; text-align:center">
                    
                    <button type="button" class="btn btn-default " data-type="minus" onclick=deleteCart({{idSanPham}})>
                        <span class="fa fa-trash-o" ></span>
                    </button>
                       
                   
                </td>
            </tr>
            {{/each}}
        </tbody>

       
    </table>
    <hr>
    <div class="row">
        <div class="col-md-3">
            <a href="/" class="btn btn-warning"><i class="fa fa-angle-left"></i> Continue Shopping</a>
        </div>
        <div class="col-md-3">
          <p style="font-size:16pt;padding-top:10px" >Total Amount</p>
        </div>
        <div class="col-md-3">

            <input id="total" value="{{tongCong}}$" style="font-size:30pt;border:none;width:160px" readonly></strong>
        </div>
<<<<<<< HEAD
        <div class="col-md-3">
             <a href="/user/checkout" class="btn btn-success btn-block">Proceed To Pay <i class="fa fa-angle-right"></i></a>
=======
        <div class="col-md-2">
             <a href="/user/checkout" class="btn btn-success btn-block">Pay <i class="fa fa-angle-right"></i></a>
>>>>>>> f6604cb0c1d089fcb70c43bf77a9d8368766b246
        </div>
    </div>
    
         
             
               
                
</div>