<div class="container" style="width: 60%; background-color: #f2f2f2 ">
    <h1 class="uppercase" style="text-align: center;color: #ff8000">Thank you for your purchase!
    </h1>
    <br>
    <h4>Your order number : <strong> {{idHoaDon}}   </strong><a href="/user/orders/details/{{idHoaDon}}"  class="text text-primary"><b style="margin-left: 2%">TRACK ORDER</b> </a></h4>
    <h4>You can track and manage your order at <a href="/user" class="text"><b>My account</b> </a> > <a href="/user/orders" class="text"><b>My orders</b> </a></h4>
</div>

<div class="container" style="width: 60%;margin-top: 15px; background-color: #f2f2f2 ">
    <h4>We've send a confirmation email to {{email}}</h4>
    <h4>Your order will delivered between {{dayMin}} - {{dayMax}}  </h4>
</div>

