<div class="container">
    <div class="header" style="margin-left:0px">
    <h2>
        Your Orders
    </h2>
</div>


    <table class="table table-hover" style="overflow-y: scroll">
        <thead>
        <tr>
            <th>Order #</th>
            <th>Placed On</th>
            <th>Receiver</th>
            <th>Total</th>
            <th>Status</th>
            <th>Details</th>
        </tr>
        </thead>
        <tbody height="100px">
        {{#each orders}}
            <tr id="{{soHoaDon}}" class="userInfo">
                <td>{{soHoaDon}}</td>
                <td>{{NgayLap}}</td>
                <td>{{tenKhachHang}}</td>
                <td>{{tongTien}}</td>
                <td>{{tinhTrang}}</td>
                <td><a href="/user/orders/details/{{soHoaDon}}" class="btn btn-success btn-block">Details</a></td>
            </tr>
        {{/each}}
     
        </tbody>
    </table>
    <hr>
    <a href="/user" class="btn btn-warning"><i class="fa fa-angle-left"></i> Back
        </a>


</div>





