 <div>
    <ul class="list-inline text-center">
        {{#each products}}
         <li style="padding:20px">
            <div class="product-img" style="height:200px">
                <a href="/product/detail/{{idSanPham}}">
                    <img src="/imgs/sp/{{idSanPham}}/1.jpg" alt="{{tenSanPham}}" style="max-width: 100%;max-height: 100%;    object-fit: contain">
                </a>
               
            </div>
            <div class="product-info text-center">
                <h6 class="product-title">
                    {{tenSanPham}}
                </h6>
                <a href="/product/detail/{{idSanPham}}"><button class="btn btn-warning submit-btn-1 mt-20 btn-hover-1" type="submit" >$ {{giaHienTai}}</button></a>
                </br>
                <p >Views: {{luotXem}}</p>
             

                
            </div>
        </li>
    {{/each}}

    </ul>
</div>

