  <div class="row">
        <div id="categories">
            <div class="row">
                <div class="col-md-12">
                    <div class="header pull-left">
                        <h2 class="uppercase">MOST Watched</h2>
                        <h6>Click to see more >></h6>
                    </div>
                </div>
            </div>

            <div>
                <ul class="list-inline text-center">
                    {{#each productsMostWatched}}
                     <li>
                       <div class="product-img" style="height:200px">
                            <a href="/product/detail/{{idSanPham}}">
                                <img src="/imgs/sp/{{idSanPham}}/1.jpg" alt="{{tenSanPham}}" style="max-width: 100%;max-height: 100%;    object-fit: contain">
                            </a>
                           
                        </div>
                        <div class="product-info text-center">
                            <h6 class="product-title">
                                <a href="product/detail/{{idSanPham}}" tabindex="-1">{{tenSanPham}}</a>
                            </h6>
                            <p ><span class="fa fa-eye" ></span> {{luotXem}}</p>
                            <h3 class="pro-price">{{giaSanPham}} $</h3>

                            
                        </div>
                    </li>
                {{/each}}

                </ul>
                

            </div>
        </div>
    </div>
    <hr>
    <!--feature-pro-->
    <div class="row ">
        <div id="featured-product">
            <div class="row">
                <div class="col-md-12">
                    <div class="header pull-left">
                        <h2 class="uppercase">Hot deal</h2>
                        <h6>Click to see more >></h6>
                    </div>
                </div>
            </div>

            <div id="featured-product-list " class="row text-center" style="display: inline;">

                <ul class="list-inline ">
                {{#each productsBySale}}
                     <li>
                        <div class="product-img" style="height:200px">
                            <a href="/product/detail/{{idSanPham}}">
                                <img src="/imgs/sp/{{idSanPham}}/1.jpg" alt="{{tenSanPham}}" style="max-width: 100%;max-height: 100%;    object-fit: contain">
                            </a>
                           
                        </div>
                        <div class="product-info text-center">
                            <h6 class="product-title">
                                <a href="product/detail/{{idSanPham}}" tabindex="-1">{{tenSanPham}}</a>
                            </h6>
                            <p style="text-decoration: line-through;color:red">{{giaSanPham}} $</p>
                            <h3 class="pro-price">{{giaHienTai}} $</h3>

                            
                        </div>
                    </li>
                {{/each}}
                </ul>

            </div>
        </div>
    </div>
    <!--list product-->
    <hr>
    <div class="row">
	    <div id="product-list">
            <div class="row">
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="header text-left mb-40">
                        <h2 class="uppercase">Best Seller</h2>
                        <h6>Click to see more >></h6>
                    </div>
                </div>
            
            </div>

             <div id="featured-product-list " class="row text-center" style="display: inline;">

                 <ul class="list-inline ">
                {{#each productsBySold}}
                     <li>
                        <div class="product-img" style="height:200px">
                            <a href="/product/detail/{{idSanPham}}">
                                <img src="/imgs/sp/{{idSanPham}}/1.jpg" alt="{{tenSanPham}}" style="max-width: 100%;max-height: 100%;    object-fit: contain">
                            </a>
                           
                        </div>
                        <div class="product-info text-center">
                            <h6 class="product-title">
                                <a href="product/detail/{{idSanPham}}" tabindex="-1">{{tenSanPham}}</a>
                            </h6>
                          
                            <p>Sold: {{daBan}}</p>
                            <h3 class="pro-price">{{giaSanPham}} $</h3>

                        </div>
                    </li>
                {{/each}}
                </ul>
                  
	    </div>

